<div class="grid-container">
    <div class="content-left">
        <div class="content-leftPart1">
            <div class="card">
                <div class="card-container">
                    <img src="../../assets/img/Get Paid Instantly.png">
                    <h3 class="card-tag-line">Quick cash disbursement</h3>
                    <p class="card-para">Get terms loan that your business needs within 72 hrs</p>
                </div>

            </div>
            <div class="card">
                <div class="card-container">
                    <img src="../../assets/img/Low interest rate.png">
                    <h3 class="card-tag-line">Low interest rate</h3>
                    <p class="card-para">Achieve your financial goals with amazing interest rate starting at 13% per
                        annum</p>
                </div>

            </div>
            <div class="card">
                <div class="card-container">
                    <img src="../../assets/img/Secure Payments.png">
                    <h3 class="card-tag-line">Zero Paperwork</h3>
                    <p class="card-para">Get started instantly by submitting only your basic details & bank statements</p>
                </div>

            </div>
        </div>
        <div class="content-leftPart2">
            
            <div class="card">
                <div class="card-container">
                    <img src="../../assets/img/freelancer_feature_icon_6@1.5x.png">
                    <h3 class="card-tag-line">Ace your business finances</h3>
                    <p class="card-para">Manage banking, accounting and everthing in between, on one platform</p>
                </div>

            </div>
            <div class="card">
                <div class="card-container">
                    <img src="../../assets/img/Covid.png">
                    <h3 class="card-tag-line">Loans to fight Covid-19</h3>
                    <p class="card-para">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
                </div>

            </div>
        </div>

    </div>
    <div class="content-right">
        <div class="card-right">
            <h1 class="tag-line">Boost your business <br> with Open</h1>
            <hr class="hr-line">
            <br>
            <p style="color: #777777;">Get your hands on a term loan that's <br> crafted for your business</p>
            <br>
            <br>
            <button class="getOpenAccButton">Get an Open Account</button>
        </div>
    </div>
</div>